# Semana 3 Codenation - Análise Exploratória dos Dados

Este notebook foi feito com base nas aulas do Túlio Nogueira do programa AceleraDev DataScience da Codenation

Dados: https://www.kaggle.com/rubenssjr/brasilian-houses-to-rent

Este dataset possui 6079 casas para alugar com 13 classes diferentes no Brasil.

### Colunas

**id**

**city**: Cidade onde o imóvel está localizada 

**area**: Área do imovel 

**rooms**: Número de quartos

**bathroom**: Número de banheiros 

**parking spaces**: Numero de vagas de estacionamento

**floor**: Andar

**animal**: Aceita animais? 

**furniture**: Mobilhada? 

**hoa**: Valor do condomínio

**rent amount**: Valor do Aluguel 

**property tax**: IPTU 

**fire insurance**: Seguro Incêndio

**total**: Valor total

Antes de mais nada analisa-se quais variáveis se tem e qual a sua relação com o problema a ser resolvido.

* O valor do aluguel tem relação com a mobilia?

* A cidade de localização é em que país?

* O valor do aluguel está em dólares, reais, euros?

* Quais características da região de localização influenciam nos valores de aluguéis ou condomínio?

Esses são exemplos de alguns questionamentos

## Importando os pacotes

Normalmente em problemas reais a importação consiste na utilização de separadores e delimitadores para leitura de um arquivo. Aqui como utilizamos o Kaggle simplesmente fazemos a leitura

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('houses_to_rent_v2.csv')

In [4]:
df.head(5)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

* Área: provavelmente em m²

* Moeda: Real(R$)

In [5]:
#Verificando os tipos das variáveis
df.dtypes

city                   object
area                    int64
rooms                   int64
bathroom                int64
parking spaces          int64
floor                  object
animal                 object
furniture              object
hoa (R$)                int64
rent amount (R$)        int64
property tax (R$)       int64
fire insurance (R$)     int64
total (R$)              int64
dtype: object

In [6]:
#Verificando o preenchimento(Há nulos ou não)
df.isna().sum()

city                   0
area                   0
rooms                  0
bathroom               0
parking spaces         0
floor                  0
animal                 0
furniture              0
hoa (R$)               0
rent amount (R$)       0
property tax (R$)      0
fire insurance (R$)    0
total (R$)             0
dtype: int64

* Todos os valores estão preenchidos, logo não preciso inputar dados (Tratar esses dados)

In [7]:
#Através do info() tenho uma maior visibilidade dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 10692 non-null  object
 1   area                 10692 non-null  int64
 2   rooms                10692 non-null  int64
 3   bathroom             10692 non-null  int64
 4   parking spaces       10692 non-null  int64
 5   floor                10692 non-null  object
 6   animal               10692 non-null  object
 7   furniture            10692 non-null  object
 8   hoa (R$)             10692 non-null  int64
 9   rent amount (R$)     10692 non-null  int64
 10  property tax (R$)    10692 non-null  int64
 11  fire insurance (R$)  10692 non-null  int64
 12  total (R$)           10692 non-null  int64
dtypes: int64(9), object(4)
memory usage: 1.1+ MB